.box {
	height: 80px;
	width: 80px;
	background-color: #BBF29B;
	margin: 10px;
	float: left;
	border-radius: 10px;
	text-align: center;
	color: #404242;
	z-index: 0;
}

.student-name {
	font-size:11px;
}

.initials {
	font-size: 33px;
	font-weight: bold;
	font-family: 'Oxygen';
	letter-spacing: -3px;
}

input[type="number"] {
	display: none;
}


.append-message {
	font-size: 30px;
	line-height: 100%;
}

.selected {
	box-shadow: 5px 5px 8px gray;
	background-color: Orange;
	font-weight: bold;
	font-size: 18px;
}

.submit {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	width: 100%;
	height:50px;
	font-size:16px;
	font-weight: bold;
}

.view-others {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	width: 100%;
	height:50px;
	font-size:16px;
	font-weight: bold;
}

.positive {
	background: #9CD9FF;
	color: #404242;

}

.negative {
	background: red;
	color: white;
}

#overlay {
	text-align: center;
	display: none; /* ensures it’s invisible until it’s called */
	position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
	left: 33%; /* positions the div half way horizontally */
	top: 25%; /* positions the div half way vertically */
	padding: 25px;
	border: 8px solid black;
	background-color: #ffffff;
	width: 30%;
	height: 30%;
	z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
	font-size: 200%;
}
#fade {
	display: none;  /* ensures it’s invisible until it’s called */
	position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
	left: 0%; /* makes the div span all the way across the viewing area */
	top: 0%; /* makes the div span all the way across the viewing area */
	background-color: black;
	-moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
	opacity: .70;
	filter: alpha(opacity=70);
	width: 100%;
	height: 100%;
	z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

.student-container {
	z-index: 0;
}

.click-to-liveclass {
	border-radius: 10px;
	margin: 10px;
	background-color: #5FA0F5;
	color: white;
	/*font-weight: bold;*/
	font-size: 25px;
	height: 60px;
	text-align: center;
	padding-top: 10px;
}

.live-class-period {
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #C3C6C7;
	color: black;
	font-size: 25px;
	font-weight: bold;
	height: 60px;
	text-align: center;
	padding-top: 13px;
}
