<h1>hey teacher</h1>
<h2>Name: <%= current_user.first_name %></h2>
<% current_user.courses.each do |course| %>
	<p><%= link_to course.subject, teachers_course_liveclass_path(course) %></p>
<% end %>

